.miners-container {
    border: 1px solid black;
    padding: 20px 12px;
    background: #494949;
}

.miners-storage {
    border: 3px solid lightgray;
}

.miners-room {
    border: 1px solid black;
    background-color: #8a0027;
    background-image: url(http://www.transparenttextures.com/patterns/brick-wall.png);
}