.investments-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #4d68a0;
    border-bottom: 4px solid #a7bff6;
    padding: 10px 20px;
}
.investments-item-img {
    width: 100px;
    height: 80px;
    margin-right: 25px;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.investments-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.investments-item-content-buy {
    div:first-child {
        background: #14ad14;
        border-radius: 2px;
        font-weight: bold;
        padding: 2px 4px;
        min-width: 50px;
        cursor: pointer;
    }
}