.miner-wrapper {
    position: relative;
}
.miner-wrapper-m {
    width: 100px;
    height: 100px;
    .miner-body-air {
        width: 80px;
        height: 80px;
        svg {
            width: 75px;
            height: 75px;
        }
    }
    .miner-body-name {
        font-size: 13px;
    }
    .miner-body-light {
        width: 6px;
        height: 6px;
        right: 3px;
        top: 3px;
    }
}
.miner-wrapper-s {
    width: 40px;
    height: 40px;
    .miner-body-air {
        width: 28px;
        height: 28px;
        svg {
            width: 25px;
            height: 25px;
        }
    }
    .miner-body-name {
        font-size: 10px;
    }
    .miner-body-light {
        right: 2px;
        top: 2px;
        width: 4px;
        height: 4px;
    }
}

.miner-wrapper-animated {
    .miner-body-light {
        animation: greenLight 1s infinite;
    }
    .miner-body-air {
        svg {
            animation: spin 1s linear infinite;
        }
    }
}

.miner-body {
    position: relative;
    border: 3px solid gray;
    border-radius: 4px;
    background: lightgray;
}
.miner-body-light {
    position: absolute;
    border-radius: 50%;
    background: #14ad14;
}

.miner-body-air {
    position: relative;
    border: 2px solid black;
    background: darkgray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px auto;
}

.miner-body-name {
    position: absolute;
    color: white;
    font-weight: bold;
}

.miner-base {
    position: relative;
    background: black;
    height: 4px;
    width: 80%;
    margin: 0 auto;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes greenLight {
    0% {
        background: none;
    }
    100% {
        background: #14ad14;
    }
}
