.header-accum {
    position: absolute;
    right: 5px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-accum > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 20px;
    max-height: 20px;
    margin-bottom: 4px;
}

.header-accum > div:first-child img {
    max-height: 100%;
    max-width: 100%;
}

.header-accum-bar {
    position: relative;
    width: 50px;
    height: 10px;
    border: 1px solid white;
}

.header-accum-bar div {
    background: white;
    width: 100%;
    height: 100%;
}

.header-accum-bar::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 3px;
    border: 1px solid white;
    right: -4px;
    top: 2px;
}
