.App {
    text-align: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(7, 26, 41, 1) 35%, rgba(7, 26, 41, 1) 85%, rgba(15, 69, 115, 1) 100%);
    font-size: calc(10px + 2vmin);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#turbo {
    padding: 0 4px;
}

.devider {
    display: inline-block;
    width: 1px;
    height: 100%;
    background: #a7bff6;
}
