.App {
  text-align: center;
  background-color: #282c34;
  padding: 8px;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: calc(100vh - 16px);
  display: grid;
  grid-template-rows: max-content max-content auto max-content;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#coin {
  position: relative;
  width: 180px;
  height: 180px;
  cursor: pointer;
  border-radius: 50%;
  img {
    max-width: 100%;
  }
}

.instruments {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 8px;
  background: #4d68a0;
  margin-left: auto;
  margin-right: 0;
  width: 100px;
  & > div {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    img {
      max-width: 100%;
    }
  }
}

#turbo {
  padding: 0 4px;
}

.App-footer {
  height: 30px;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.devider {
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #a7bff6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
